body{
    background-color: rgb(129, 40, 74);
}
#container{
    display: grid;
    max-width: 512px ;
    max-height: 512px ;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
}
.cell{
    border: 1px solid rgb(182, 182, 182);
}
.cell:hover{
    background-color: black;
}